@import url('https://fonts.google.com/specimen/League+Spartan');

body {
  background-color: hsl(222, 26%, 31%);
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 20px;
}

.main {
  margin-top: 50px;
  margin-left: 500px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
  color: white;
}



.display {
  max-width: 365px;
  background-color: hsl(223, 31%, 20%);
  padding: 25px 25px 0px 0px;
  border-radius: 10px 10px 10px 10px;
  color: white;
}

.display-number {
  margin-left:  300px;
  padding-bottom: 30px;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 350px;
  gap: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: hsl(224, 36%, 15%);
}
button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 2px hsl(224, 28%, 35%);
  background-color: hsl(210, 4%, 89%);
  color: hsl(221, 14%, 31%);
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.other-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 350px;
  gap: 10px;
  background-color: hsl(224, 36%, 15%);
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0px 0px 10px 10px;
}
.reset {
  background-color: hsl(225, 21%, 49%);
  color: white;
}

.del {
  background-color: hsl(225, 21%, 49%);
  color: white;
}

.equal {
  background-color: hsl(6, 63%, 50%);
  color: white;
  box-shadow: 0px 2px hsl(6, 70%, 34%);
}

@media screen and (max-width: 375px) {
  .main {
    margin-left: 18px;
  }

  .display{
    max-width: 315px;
  }
  .calc-buttons {
    max-width: 300px;
  }
  .other-buttons {
    max-width: 300px;
  }
}